*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
html,body{
    width:100%;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-color: var(--bg-primary-color);
     color:var(--text-primary)
}
main{
    width:100%;
}
main section{
    display: flex;
    gap :var(--gutter-xl);
    width: 100%;
    padding-top: var(--padding-lg);
    padding-left: var(--padding-md);
}

.btn{
    padding: var(--padding-sm) var(--padding-lg);
    border:none;
    outline:none;
    border-radius: var(--border-r-md);
    background-color:var(--bg-tertiary-color) ;
    cursor: pointer;
    color:var(--bg-primary-color)
}
#reset-btn{
    background-color: var(--bg-reset);
    color:var(--text-primary);
    font-size: var(--font-size-md);
}
#download-btn{
    background-color: var(--bg-download) ;
    color:var(--text-primary);
    font-size: var(--font-size-md);
}
main section .left{
    display:flex;
    flex-direction: column;
    gap:var(--gutter-xl);
    width: 60%;
}

main section .top{
    display: flex;
    justify-content: space-evenly;  
    align-items: center;
    gap: var(--gutter-md);
}

main section .bottom{
    background-color: var(--bg-secondary-color);
    padding: var(--padding-sm);
    width:100%;
    aspect-ratio: 5/3.1;
    border-radius: var(--border-r-md);
    display: flex;
    justify-content: center;
    align-items: center;
}

main section .bottom .placeholder{
    display:flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.6;
}
main section .bottom .placeholder i{
    font-size: 10rem;
}
main section .bottom .placeholder p{
    font-size: var(--font-size-lg);
}
main section .right{
    width:35%;
    background-color: var(--bg-secondary-color);
    padding: var(--padding-sm);
    border-radius: var(--border-r-lg);
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
}
main section .right .filters{
    display:flex;
    flex-direction: column;
    gap: var(--gutter-lg);
}
main section .right .filter{
    width: 100%;
}
main section .right .filter input{
    width: 100%;
    outline: none;
    margin-top: var(--margin-sm);
    appearance: none;
}
main section .right .filter input::-webkit-slider-runnable-track{
background-color: var(--bg-tertiary-color);
height:5px;
border-radius: 20px;
}
main section .right .filter input::-webkit-slider-thumb{
    cursor: pointer;
    appearance: none;
    width: 15px;
    height:15px;
    border-radius: 50%;
    background-color: rgb(218, 16, 16);
    margin-top: -5px;
}
